# Ignore everything
*

!.gitignore

# Except the tmux and nvim directories
!tmux/
!nvim/

# Ignore everything inside tmux and nvim except their content
tmux/*
nvim/*

# Allow all files and subdirectories in tmux and nvim
!tmux/**
!nvim/**
